{% load static %}
<h1>Favorites Page Test</h1>
{% if activities %}
        <div class="activityList">
                {% for activity in activities %}
                        <div class="activity_container">
                        <img src="static/img/" alt="{{ activity.name }}" class="overlay_img">
                                <div class="activity_title">{{ activity.name }}</div>
                                <div class="overlay_description">{{ activity.description }}</div>
                        </div>
                {% endfor %}
{% endif %}
        </div>
