{% load static %}
{% if activities %}
    <div class="activityList" id = "activityList">
                <script>
                    map.on('render', () => {
                        document.getElementById("activityList").innerHTML = '';
                        activityCounter=0;
                    });
                </script>       
        {% for activity in activities %}
        <script>
                map.on('render', () => {
                        var center = map.getCenter();
                        console.log(center, center.lng, center.lat);
                        var latFieldPlus = center.lat +0.2;
                        var latFieldMinus = center.lat -0.2;
                        var longFieldPlus = center.lng +0.2;
                        var longFieldMinus = center.lng -0.2;
                        var actLatitude = {{activity.latitude}};
                        var actLongitude = {{activity.longitude}};

                        if(activityCounter<8){
                                if (actLatitude <= latFieldPlus && actLatitude >= latFieldMinus && actLongitude <= longFieldPlus && actLongitude >= longFieldMinus){
                                        console.log ("test", latFieldPlus, latFieldMinus, actLatitude, longFieldPlus, longFieldMinus, actLongitude);
                                        document.getElementById("activityList").innerHTML +=
                                        "<div class='activity_container'>" +
                                        "<img src='media/{{activity.image}}' alt='{{activity.name}}' class='overlay_img'>" +
                                        "<div class='activity_title'>{{activity.name}}</div>" +
                                        "<div class='overlay_description'><b>Address: </b>{{ activity.address }}<br><b>Tags: </b>{{ activity.tags.all|join:", " }}<br>" +
                                        "<button onclick=window.location.href='/activities/{{activity.id}}' class='popup_button'>View</button>" +
                                        "</div></div>";
                                        activityCounter++;
                                }
                        }
                });
        </script>
{% endfor %}
{% endif %}
<button onclick="window.location.href='/activities'" class="moreAct">View more activities</button>
</div>



