{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
        <h1>Favorites Page Test</h1>
        {% if activity_list %}
        <div class="activity_list">
                {% for activity in activity_list %}
                <div class="activityList">
                        <img src="static/img/" alt="{{ activity.name }}" class="overlay_img_ext">
                        <div class="activity_title_ext">{{ activity.name }}</div>
                        <div class="overlay_description_ext">{{ activity.description }}</div>
                </div>
                {% endfor %}
                {% endif %}
        </div>
</main>

{% endblock %}