{% load static %}
<footer>
    <div class="footer_container">
            <div class="footer_links">
                <div><h3>Services</h3>
                <ul>
                    <li><a href="#">Link1</a></li>
                    <li><a href="#">Link2</a></li>
                    <li><a href="#">Link3</a></li>
                </ul></div>
                <div><h3>About</h3>
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Team</a></li>
                </ul></div>
                <div><h3>Careers</h3>
                <ul>
                    <li><a href="#">Job openings</a></li>
                    <li><a href="#">Employee success</a></li>
                    <li><a href="#">Benefits</a></li>
                </ul></div>
            </div>
            <div class="footer_social">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo_icon.png' %}" alt=""></a>
                <p class="copyright">RadiUS © 2021</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>