{% load static %}
<!-- Page content -->
<main>
<script>
  getLocation();
</script>
  <h1>Find something to do nearby</h1>

<!-- Maps -->
  {% include 'partials/maps.html' %}
<!-- Activities -->
<h1>Activities around you</h1>
  {% include 'partials/activitycard.html' %}
  
<!-- Buttons -->
<div class="homebuttons">
  <div><h1>Share your ideas</h1>
    <button onclick="window.location.href='activity/create'"><div>Create an activity for the community</div><div><i class="fas fa-plus-circle"></i></div></i></button>
  </div>
  <div><h1>Find something nearby</h1>
    <button onclick="window.location.href='/all_activities'"><div>Find an activity nearby that you like</div><div><i class="fas fa-search"></i></div></button>
  </div>
</div>
<!-- More suggestions -->
<h1>More things to do!</h1>
{% if activities %}
        <div class="activityList">
                {% for activity in activities %}
                        <div class="activity_container">
                                <img src="media/{{activity.image}}" alt="{{ activity.name }}" class='overlay_img'>
                                <div class='activity_title'>{{activity.name}}</div>
                                <div class='overlay_description'>
                                  <b>Address: </b>{{ activity.address }}<br>
                                  <b>Tags: </b>{{ activity.tags.all|join:", " }}<br>
                                  <button onclick="window.location.href='/activities/{{activity.id}}'" class='popup_button'>View</button>
                                </div>     
                        </div>
                {% endfor %}
{% endif %}
        </div>
 
</main>