{% load static %}
<!-- Page content -->
<main>
<script>
  getLocation();
</script>
  <h1>Find something to do nearby</h1>

<!-- Maps -->
  {% include 'partials/maps.html' %}
<script>
map.on('render', (function() {
    function intersectRect(r1, r2) {
      return !(r2.left > r1.right ||
        r2.right < r1.left ||
        r2.top > r1.bottom ||
        r2.bottom < r1.top);
    }

    function getVisibleMarkers() {
      var cc = map.getContainer();
      var els = cc.getElementsByClassName('marker');
      var ccRect = cc.getBoundingClientRect();
      var visibles = [];
      for (var i = 0; i < els.length; i++) {
        var el = els.item(i);
        var elRect = el.getBoundingClientRect();
        intersectRect(ccRect, elRect) && visibles.push(el);
      }
      if (visibles.length > 0) console.log(visibles);
    }

    var tm;
    return function() {
      clearTimeout(tm);
      tm = setTimeout(getVisibleMarkers, 100);
    }
  }()))
</script>
<!-- Activities -->
<h1>Recommended activities</h1>
  {% include 'partials/activitycard.html' %}
  
<!-- Buttons -->
<div class="homebuttons">
  <div><h1>Share your ideas</h1>
    <button><div>Create an activity for the community</div><div><i class="fas fa-plus-circle"></i></div></i></button>
  </div>
  <div><h1>Find something nearby</h1>
    <button><div>Find an activity nearby that you like</div><div><i class="fas fa-search"></i></div></button>
  </div>
</div>
<!-- More suggestions -->
<h1>More things to do!</h1>
{% include 'partials/activitycard.html' %}
 
</main>