    <div id='map'></div>

    <script>
      var tempLat = {{activity.latitude|default:-33.8661344}};
      var tempLong = {{activity.longitude|default:151.2251483}};
    mapboxgl.accessToken = 'pk.eyJ1IjoiamFjb3BvZ3JhYmFyIiwiYSI6ImNrdWl5YmlxZzB3cGIycG14bWV2cG81dXEifQ.usbYmuIAIlQVY4Spwk7aww'; 
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/jacopograbar/ckuiygwp15r4m17qmlagfxrw9', 
      center: [tempLong, tempLat],
      zoom: 12
    });
    </script>

   {% if activities %}
      {% for activity in activities %}
        <script>
          var activityLongitude = {{ activity.longitude}};
          var activityLatitude = {{ activity.latitude}};
          var activityCoordinates = [activityLongitude, activityLatitude];
          var activityTitle = "{{activity.name}}" ;
          var activityTags = "{{activity.tags.all|join:', '}}";
          var activityAddress = "{{activity.address}}";
          var activityURL = "{{activity.id}}";
          addMarkers(activityCoordinates, activityTitle, activityTags, activityAddress, activityURL);
        </script>
      {% endfor %}
    {% endif %}


   <script>
    //geocoder
    const geocoder = new MapboxGeocoder({
      // Initialize the geocoder
      accessToken: mapboxgl.accessToken, // Set the access token
      placeholder: 'Search for location',
      mapboxgl: mapboxgl, // Set the mapbox-gl instance
      marker: false // Do not use the default marker style
    });

    // Add the geocoder to the map
    map.addControl(geocoder);

        // Add geolocate control to the map.
        map.addControl(
      new mapboxgl.GeolocateControl({
        positionOptions: {
          enableHighAccuracy: true
        },
        // When active the map will receive updates to the device's location as it changes.
        trackUserLocation: true,
        // Draw an arrow next to the location dot to indicate which direction the device is heading.
        //showUserHeading: true
      })
    );
    </script>