{% load static %}

<header>
	<nav>
		<img src="{% static 'img/logo_icon.png' %}" class="logo" alt="RadiUS logo">
		<img src="{% static 'img/wordmark.png' %}" class="logo" alt="RadiUS logo">
		<ul>
		  	<li><a href="#">Home</a></li>
		  	<li><a href="#">Favourites</a></li>
		  	<li><a href="#">History</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Create Activity</a></li>
		</ul>
		<ul>
			<li><a href="#">Username</a></li>
			<li><a href="#">Log out</a></li>
		</ul>
		</div>
	</nav>
</header>

