{% load static %}

<header>
	<nav>
		<img src="{% static 'img/logo_icon.png' %}" class="logo" alt="RadiUS logo">
		<img src="{% static 'img/wordmark.png' %}" class="logo" alt="RadiUS logo">
		<ul>
		  	<li><a href="/"><i class="fas fa-home"></i> Home</a></li>
		  	<li><a href="/favourites"><i class="far fa-star"></i> Favourites</a></li>
		  	<li><a href="/history"><i class="fas fa-history"></i> History</a></li>
			<li><a href="about"><i class="fas fa-info-circle"></i> About</a></li>
			<li><a><button onclick="createActivity()"><i class="fas fa-plus-circle"></i> Create Activity</button></a></li>
		</ul>
		<ul>
			<li><a href="#"><i class="far fa-user-circle"></i> Username</a></li>
			<li><a href="#"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
		</ul>
		</div>
	</nav>
</header>

