{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="top-icon">
			<img src="img/frame-13.png" alt="Radius-Logo">
		</div>
		<div class="top-icon">
			<p>Welcome Back!</p>
		</div>


	<section class="portfolio">
		<div class="container-imputs-fields">
			<ul class="imput-fields">
				<p >Email</p>
				<li><input type="text"></li>
				<p>Password</p>
				<li><input type="text"></li>
			</ul>
		</div>

	</section>

	<section>
	<div class="container-welcome-page">
		<tr>
		<ul class="portfolio_items">
			<li><img src="img/radius-map.png" alt="radius-map"></li>

		</ul>
		</tr>
	</div>
</section>

<section buttons>
	<div class="button-login">
		<span>
			<button class="button-login button-login1">Sign in</button>
			<button class="button button-login2">Sign up</button>
	</span>
	</div>
</section>

{% endblock %}