<!DOCTYPE html>
<html>
  <head>
    <title>Interactive maps for Django web apps</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <h1>Map time!</h1>
    <div id='map' style='width: 800px; height: 500px;'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiamFjb3BvZ3JhYmFyIiwiYSI6ImNrdWl5YmlxZzB3cGIycG14bWV2cG81dXEifQ.usbYmuIAIlQVY4Spwk7aww';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/jacopograbar/ckuiygwp15r4m17qmlagfxrw9',
    center: [151.217140, -33.871846],
    zoom: 12,
    });
    </script>
  </body>
</html>