/* ------------- common styling attributes ------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --clr-darkGreen: #5EAE66;
    --clr-lightGreen: #AFDEB4;
    --clr-green2:#C5ED97;
    --clr-lightGreen2:#E9FFD0;
    --clr-text: #000;
    --clr-grey1: #DBDBE9;
    --clr-grey2:#F1F1FA;
    --clr-grey3:#FCFCFF;

}

body {
    background-color: var(--clr-grey3);
    color: var(--clr-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.58;
    font-size: 14px;
    padding: 5px, 5px, 5px;
    min-height:calc(100vh - 2 * 12px);
}

html {
  min-height:100vh;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

.logo{
    width:7%;
    height:7%;
    margin: 1%;

}


/* ------------- Navigation Bar ------------- */

nav{
    display:flex;
    flex-direction: row;
    background-color: var(--clr-grey2);
    justify-content:left;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    box-shadow: 1px 1px 1px 1px var(--clr-grey1);
}

nav ul{
    margin-left: 0.5%;
    margin-top: 0%;
    margin-bottom: 0%;
    list-style-type: none;
    width:100%;
}

nav ul:nth-of-type(2){
    margin-right: -30%;
}

nav ul>li{
    display:inline-block;
    padding:1.5%;
    padding-top: 4%;
    padding-bottom:4%;
    margin-top: 0%;
    margin-bottom: 0%;

}

nav ul>li a {
    color: var(--clr-text);
    text-decoration: initial;
}

nav ul>li:hover,
nav ul>li:focus,
nav ul>li:active{
  background-color: var(--clr-lightGreen2);
}

/* ------------- Map -------------*/
#map { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom:1%;
    width: 97vw; 
    height: 35vw;
  }

/* ------------- Hover Boxes -------------*/

.activity_container {
    position: relative;
    width: 25%;
  }

.overlay_img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay_description {
    position: absolute; 
    top: 0; 
    background: var(--clr-lightGreen2);
    --clr-text: #000;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
  
.activity_container:hover .overlay_description{
    opacity: 1;
}

.activity_title{
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: 10%;
    background: var(--clr-darkGreen);
    text-align: left;
    justify-self: center;
}

.activityList{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    gap: 10px 20px;
}

/* ------------- RWD styling -------------*/

@media (min-width: 641px){
   
    body{
        margin:0px;
        font-size:16px;
    }

    main{
        margin: 3vw;
    }

    .grid-main {
        display: grid;
        grid-template-columns:
          minmax(1em, 1fr)
          minmax(5rem,10rem)
          repeat(2, minmax(10rem, 35rem))
          minmax(1em, 1fr);
        gap: 1em;
        position: relative;
    }

    header{
        grid-column: 1/6;
    }

    main{
        grid-column: 2/5;
    }

    footer{
        grid-column: 1/6;
        padding-left:3%;
        padding-right:3%; 
    }

}

@media(min-width: 1008px){

    body{
        font-size:18px;
    }

    #map { 
        width: 93vw; 
        height: 35vw;
      }
}

/*------- Main pages css ------ */


* {
	box-sizing: border-box;
}
 

button {
	border-radius: 20px;
	border: 1px solid #5EAE66;
	background-color: #5EAE66;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}








/*#preloader {*/
/*  background-color: #ffffff;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  z-index: 5000; }*/
/*  #preloader img {*/
/*    width: 30px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    -webkit-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*    z-index: 10; }*/
/*  #preloader .circle-preloader {*/
/*    display: block;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    border: 2px solid #ccc;*/
/*    border-bottom-color: #1c8314;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*    animation: spin 2s infinite linear; }*/
/*@-webkit-keyframes spin {*/
/*  100% {*/
/*    -webkit-transform: rotate(360deg);*/
/*    transform: rotate(360deg); } }*/
/*@keyframes spin {*/
/*  100% {*/
/*    -webkit-transform: rotate(360deg);*/
/*    transform: rotate(360deg); } }*/