/* ------------- common styling attributes ------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --clr-darkGreen: #5EAE66;
    --clr-lightGreen: #AFDEB4;
    --clr-green2:#C5ED97;
    --clr-lightGreen2:#E9FFD0;
    --clr-text: #000;
    --clr-grey1: #DBDBE9;
    --clr-grey2:#F1F1FA;
    --clr-grey3:#FCFCFF;

}

body {
    background-color: var(--clr-grey3);
    color: var(--clr-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.58;
    font-size: 14px;
    padding: 5px, 5px, 5px;
    min-height:calc(100vh - 2 * 12px);
}

.masthead{
    display:flex;
    align-items: center;
    justify-content:left;
}

html {
  min-height:100vh;
}


/* ------------- Navigation Bar ------------- */

nav{
    display:flex;
    flex-direction: row;
    margin-right:-10px;
    margin-left:-10px;
    background-color: var(--clr-grey2);
    justify-content:flex-end;
    font-family: 'DM Sans', sans-serif;
    box-shadow: 1px 1px 1px 1px var(--clr-grey1);
}

nav ul>li{
    display:inline-block;
    padding:8px;
}

nav ul>li a {
    color: var(--clr-text);
    text-decoration: initial;
}

nav ul>li:hover,
nav ul>li:focus,
nav ul>li:active{
  background-color: var(--clr-lightGreen2);
}

nav ul>li:last-of-type{
    padding-right: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ------------- RWD styling -------------*/

@media (min-width: 641px){
   
    body{
        margin:0px;
        font-size:16px;
    }

    .grid-main {
        display: grid;
        grid-template-columns:
          minmax(1em, 1fr)
          minmax(5rem,10rem)
          repeat(2, minmax(10rem, 35rem))
          minmax(1em, 1fr);
        gap: 1em;
        position: relative;
    }

    header{
        grid-column: 1/6;
    }

    main{
        grid-column: 2/5;
    }

    footer{
        grid-column: 1/6;
        padding-left:3%;
        padding-right:3%; 
    }
}

@media(min-width: 1008px){

    body{
        font-size:18px;
    }
}





/* general style --- This will be changed when we have more info */

.btn{
	border: 3px solid #A9A9A9;
	padding: 10px 30px;
	color:#A9A9A9;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
}

.btn:hover {
	color: #000000;
	border-color: #000000;

}



/*  sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* side bar hover */
.sidenav a:hover {
  color: #f1f1f1;
}


/*#preloader {*/
/*  background-color: #ffffff;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  z-index: 5000; }*/
/*  #preloader img {*/
/*    width: 30px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    -webkit-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*    z-index: 10; }*/
/*  #preloader .circle-preloader {*/
/*    display: block;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    border: 2px solid #ccc;*/
/*    border-bottom-color: #1c8314;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    margin: auto;*/
/*    animation: spin 2s infinite linear; }*/
/*@-webkit-keyframes spin {*/
/*  100% {*/
/*    -webkit-transform: rotate(360deg);*/
/*    transform: rotate(360deg); } }*/
/*@keyframes spin {*/
/*  100% {*/
/*    -webkit-transform: rotate(360deg);*/
/*    transform: rotate(360deg); } }*/