{% extends './registration-base.html' %}
{% load static %}

{% block content %}

<head>
  <meta charset="UTF-8">
  <title>Grid</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="flex">
    <div class="item">
      <div class="flex-sizing">
          <p class="logo-radius"> <img src="{% static '/img/frame-13.png' %}" alt="alt text"></p>
          <p style="font-size: 24px;">Select an avatar</p>
          <div class="button-avatar">
            <button class="button button-avatar" onclick="avatar(1)"><img src="{% static '/img/avat1.png' %}" width="100px" height="100px"></button>
            <button class="button button-avatar" onclick="avatar(2)"><img src="{% static '/img/avat2.png' %}" width="100px" height="100px"></button>
            <button class="button button-avatar" onclick="avatar(3)"><img src="{% static '/img/avat3.png' %}" width="100px" height="100px"></button>
            <button class="button button-avatar" onclick="avatar(4)"><img src="{% static '/img/avat4.png' %}" width="100px" height="100px"></button>
            <button class="button button-avatar" onclick="avatar(5)"><img src="{% static '/img/avat5.png' %}" width="100px" height="100px"></button>
            <button class="button button-avatar" onclick="avatar(6)"><img src="{% static '/img/avat6.png' %}" width="100px" height="100px"></button>
            <button class="button button-avatar" onclick="avatar(7)"><img src="{% static '/img/avat7.png' %}" width="100px" height="100px"></button>
            <button class="button button-avatar" onclick="avatar(8)"><img src="{% static '/img/avat8.png' %}" width="100px" height="100px"></button>
          </div>
        <form action="" method="post">
          {% csrf_token %}
        {{ form.avatar }}
        <div class="button-login">
          <input type="submit" value="Continue" class="button button-avatar-continue">
        </div>
          </form>
      </div>

    </div>
    <div class="flex">
      <div class="map">
        <div class="">
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  //TODO - move this to the actual script file, disappear the select box (display: none, not done yet for visibility) - Al
function avatar(option) {
  document.getElementById("id_avatar").value = option;
}
</script>
</html>

{% endblock %}