{% extends './registration-base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Enter your post code</title>
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
</head>

<body>
<div class="flex">
    <div class="item">
        <div class="flex-sizing">
            <p class="logo-radius"><img src="{% static '/img/frame-13.png' %}" alt="alt text"></p>
            <form action="" method="post">
                <div class="form">
                    <h4>Enter Your Postcode</h4>
                    {{ form.postcode }}
                    {% csrf_token %}
                </div>
                <div class="counter-km">
                    <h4>Enter Your Preferred Radius</h4>
                    <input class="plus" type="button" value="-" data-for="quantity1" onclick="increment()">
                    {{ form.radius }}km
                    <input class="plus" type="button" value="+" data-for="quantity1" onclick="decrement()">
                </div>
                <div class="button-login">
                    <input type="submit" value="Continue" class="button-avatar-continue">
                </div>
            </form>
        </div>
    </div>
    <div class="flex">
        <div class="map">
            <div class="">
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/registration.js' %}"></script>
</body>

</html>

{% endblock %}