{% extends './registration-base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Enter your post code</title>
  <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
</head>

<body>
  <div class="flex">
    <div class="item">
      <div class="flex-sizing">
          <p class="logo-radius"> <img src="{% static '/img/frame-13.png' %}" alt="alt text"></p>
        <div class="form">
          <label for="fname">Enter your post code<br>
          <input type="text" class="email-icon" name="fname" value= "eg. 7250"><br>
        </div>
        <div class="counter-km">
          <input class="plus" type="button" value="-"  data-for="quantity1">
          <input class="total" type="number" id="quantity1" value="1" min="0">
          <input class="plus" type="button" value="+" data-for="quantity1">
      </div>
        <div class="button-login">
          <button class="button-avatar-continue">Continue</button>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="map">
        <div class="">
        </div>
      </div>
    </div>
  </div>
<script src="{% static 'js/registration.js' %}"></script>
</body>

</html>

{% endblock %}