{% extends './registration-base.html' %}
{% load static %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>



<!--Front end still WIP-->

<body>
  <div class="flex">
    <div class="item">
      <div class="flex-sizing">
          <p class="logo-radius"> <img src="./img/frame-13.png" alt="alt text"></p>
          <p style="font-size: 24px;">Welcome Back!</p>
        <div class="form">
          <label for="fname">Email</label><br>
          <input type="text" class="email-icon" name="fname" value= "Enter Email"><br>
          <label for="lname">Password</label><br>
          <input type="text" class="password-icon" name="lname" value="Enter password">
        </div>
        <div class="button-login">
          <button class="button button1">Sign Up</button>
          <button class="button button2">Sign In</button>
        </div>
      </div>

    </div>
    <div class="flex">
      <div class="map">
        <div class="">
        </div>
      </div>
    </div>
  </div>
</body>

</html>

{% endblock %}

