{% extends 'base.html' %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}

<div class="top-icon">
			<img src="img/frame-13.png" alt="Radius-Logo">  <! –– {# Add images to static folder #} ––>
		</div>
		<div class="top-icon">
			<p>Welcome Back!</p>
		</div>


	<section class="portfolio">
		<div class="container-imputs-fields">
			<ul class="imput-fields">
				<p >Email</p>
				<li><input type="text"></li>
				<p>Password</p>
				<li><input type="text"></li>
			</ul>
		</div>

	</section>

	<section>
	<div class="container-welcome-page">
		<tr>
		<ul class="portfolio_items">
			<li><img src="img/radius-map.png" alt="radius-map"></li>

		</ul>
		</tr>
	</div>
</section>

<section buttons>
	<div class="button-login">
		<span>
			<button class="button-login button-login1">Sign in</button>
			<button class="button button-login2">Sign up</button>
	</span>
	</div>
</section>