<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Grid</title>
   <link rel="stylesheet" href="{% static 'css/modal-dialog.css' %}">
   <script src="{% static 'app.js' %}"></script>
</head>

<body>
  <div class="flex">
    <div class="item">
      <div class="flex-sizing">
          <p style="font-size: 24px;">Edit Profile</p>
        <div class="bio-info">
          <label for="fname">Edit Bio:</label><br>
          <input type="text" class="email-icon" name="fname" value= ""><br>
        </div>
        <div class="pills">
          <label for="fname">Edit interests</label><br>
          <input type="text" class="email-icon" name="fname" value= ""><br>
        </div>
        <div class="button-login">
          <button class="button button1">Cancel</button>
          <button class="button button2">Continue</button>

        </div>
      </div>

    </div>
  </div>
</body>

</html>