<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Grid</title>
  <link rel="stylesheet" href="./modal-dialog.css">
</head>

<body>
  <div class="flex">
    <div class="item">
      <div class="flex-sizing">
          <p style="font-size: 24px;">Edit Profile</p>
        <div class="bio-info">
          <label for="fname">Edit Bio:</label><br>
          <input type="text" class="email-icon" name="fname" value= ""><br>
        </div>
        <div class="button-login">
          <button class="button button1">Sign Up</button>
          <button class="button button2">Sign In</button>
          <button class="button button2"><a href="./join-the-community.html" target="_blank">join-the-community</a></button>
          <button class="button button2"><a href="./select-an-avatar.html" target="_blank">select-an-avatar</a></button>
          <button class="button button2"><a href="./select-categories.html" target="_blank">select-categories</a></button>
          <button class="button button2"><a href="./enter-your-post-code.html" target="_blank">enter-your-post-code</a></button>
        </div>
      </div>

    </div>
  </div>
</body>

</html>