{% extends './registration-base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Grid</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="flex">
    <div class="item">
      <div class="flex-sizing">
          <p class="logo-radius"> <img src="./img/frame-13.png" alt="alt text"></p>
          <p style="font-size: 24px;">Please select some categories so that we can show you activities that you’ll like! </p>
        <div class="button-login">
          <div class="button-login">
            <button class="button button-avatar-continue-inverted">Skip</button>
          </div>
          <div class="button-login">
            <button class="button button-avatar-continue">Continue</button>
          </div>

        </div>
      </div>

    </div>
    <div class="flex">
      <div class="map">
        <div class="">
        </div>
      </div>
    </div>
  </div>
</body>

</html>

{% endblock %}