

{% extends './registration-base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <span class="fieldWrapper">
                    {{ key }}:{{ value }}
                </span>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
<body>
  <div class="flex">
    <div class="item">
      <div class="flex-sizing">
          <p class="logo-radius"> <img src="{% static '/img/frame-13.png' %}" alt="alt text"></p>
          <p style="font-size: 20px;">Welcome</p>
          <p style="font-size: 18px;"><strong>Join The Community</strong></p>
        <div class="form">
            <form action="" method="post">
            <div class="signup-design">
                {% csrf_token %}
            <label for="fname" >Username<br></label>
          {{ form.username }}
          <label for="femail">Email</label><br>
         {{ form.email }}
          <label for="lpassword">Password</label><br>
          {{ form.password1 }}
          <label for="lpassword2">Repeat Password</label><br>
           {{ form.password2 }}
            </div>
                <div class="button-login">
            <p style="font-size: 12px;">By clicking Sign Up, you agree to our <strong>terms and Conditions.</strong></p>
          <input class="button button1" type="submit" value="Sign Up">
          <button class="button button2">Sign In</button>

        </div>
        </form>
        </div>

      </div>

    </div>
    <div class="flex">
      <div class="map">
        <div class="">
        </div>
      </div>
    </div>
  </div>
</body>

</html>

{% endblock %}