{% load static %}
{% include 'partials/navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="flex">
    <div class="profile-box">
      <div class="flex-sizing">
        <button class="button2"><a href="" onClick="return popitup('http://www.abc.com/youpage')">Edit Profile</a></button>
          <img class="avatar-img" src="/static/img/avat{{ profile.avatar }}.png" alt="alt text">
          <p style="font-size: 20px; margin-top: 0px; font-style: italic; text-align: center;">{{ user.username }}</p>
          <p style="font-size: 14px; margin-top: 0px; font-style: italic; text-align: center;">This user hasn't enter a bio</p>
        {{ profile.radius }}
        <div class="flex">
          <span class="pill1">healty</span>
          <span class="pill2"></span>
          <span class="pill3"></span>
        </div>
      </div>
    </div>
  </div>
  {% include 'partials/activitycard.html' %}
  <script src="{% static 'js/registration.js' %}"></script>
</body>

</html>
{% endblock %}